<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h2>AtoZ Solutions - User Management App ..!</h2>
    <img src="../assets/images.jfif" class="pull-right img-responsive">
  </div>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <strong>This site is copyright &copy; to Chandra. All rights are reserved here.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{date |date}}</strong>
  </div>
</footer>